div.qvote_display {
	padding:7px 0;
	overflow:hidden;
}

div.qvote_display p.qvote_block {
	float:left;
	width:70px;
	font-size:16px;
	line-height:16px;
	margin:0 0 1em;
	padding:0;
}

div.qvote_display input.qvote {
	margin:0 10px 0 0;
	border: 0;
	outline:none;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	cursor:pointer;
	padding:0;
}

div.qvote_display input.qvote:hover {
	background-position:0 -16px;
}

div.qvote_display input.upvote {
	background: url('../img/vote_up.png') no-repeat 0 0;
}

div.qvote_display input.downvote {
	background: url('../img/vote_down.png') no-repeat 0 0;
}

div.qvote_display input.voted,
div.qvote_disable input.qvote,
div.qvote_disable input.qvote:hover {
	background-position:0 -16px;
	cursor:auto;
	}

/* Changes for voted */

div.qvote_display p.qvote_block span.just_voted {
	font-weight:700;
}

div.qvote_display p.qvote_show input.qvote { background-position:0 -32px;}

	/* Display voting text */

div.qvote_display p.qvote_text {
	float:left;
	width:auto;
	font-size:12px;
	line-height:16px;
	margin:0;
	padding:0;
	font-style:italic;
}	

div.vote_success {
	clear:both;
	margin: 5px 0 15px;
	background-color: #ccffff;
    border: 1px solid #ccffff;
	-moz-border-radius:5px;
	border-radius:5px;
}

div.vote_success p {
	margin: 0;
    padding: 5px 10px;
	font-style:italic;
	color:#111;
	text-align:center;
}

